In [1]:
# [2, 4, 6, 8, 10 ... 20]

In [2]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
test = []

for i in range(1, 11) : 
    i = i * 2
    # print(i)
    
    test.append(i)

In [4]:
test

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [5]:
[i * 2 for i in range(1, 11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
[i * i for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
[i * 2 - 1 for i in range(1, 11)]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [8]:
# set()

In [8]:
set([i % 2 for i in range(1, 11)])

{0, 1}

### list comprehension의 if문

In [10]:
[i for i in range(0, 20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
test = []

for i in range(0, 20) : 
    if i % 2 == 1 :
        test.append(i)

In [10]:
test

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [11]:
[i for i in range(0, 20) if i % 2 == 1 ]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [12]:
import random

In [13]:
sales = [random.randint(1500, 4500) for i in range(0, 30)]
print(sales)

[1748, 3820, 2889, 2764, 3334, 3982, 4446, 3659, 2543, 3413, 4135, 4153, 3843, 2508, 2336, 3763, 2510, 3945, 2964, 1993, 2784, 3862, 1720, 1781, 3222, 1876, 2203, 4410, 2595, 3307]

In [17]:
# 30일간 매출
# 매출의 평균을 넘어서는 값 > 리스트

In [14]:
avg = sum(sales) / len(sales) # 리스트의 평균 
print(avg)

3083.6

In [15]:
[i for i in sales if i > avg]

[3820,
 3334,
 3982,
 4446,
 3659,
 3413,
 4135,
 4153,
 3843,
 3763,
 3945,
 3862,
 3222,
 4410,
 3307]

In [ ]:
# if 
# else

In [16]:
['매출 달성' if i > avg else '매출 목표 미달' for i in sales]

['매출 목표 미달',
 '매출 달성',
 '매출 목표 미달',
 '매출 목표 미달',
 '매출 달성',
 '매출 달성',
 '매출 달성',
 '매출 달성',
 '매출 목표 미달',
 '매출 달성',
 '매출 달성',
 '매출 달성',
 '매출 달성',
 '매출 목표 미달',
 '매출 목표 미달',
 '매출 달성',
 '매출 목표 미달',
 '매출 달성',
 '매출 목표 미달',
 '매출 목표 미달',
 '매출 목표 미달',
 '매출 달성',
 '매출 목표 미달',
 '매출 목표 미달',
 '매출 달성',
 '매출 목표 미달',
 '매출 목표 미달',
 '매출 달성',
 '매출 목표 미달',
 '매출 달성']

In [17]:
import pandas as pd

In [18]:
df = pd.DataFrame()
df["일별 판매액"] = sales
df["매출 목표 달성 여부"] = ['매출 달성' if i > avg else '매출 목표 미달' for i in sales]

In [19]:
df.head()

   일별 판매액 매출 목표 달성 여부
0    1748    매출 목표 미달
1    3820       매출 달성
2    2889    매출 목표 미달
3    2764    매출 목표 미달
4    3334       매출 달성